<!-- filepath: d:\PROJECTS\Portal\portal\accounts\templates\accounts\profile.html -->
{% extends "accounts/user_page.html" %}
{% load i18n static %}

{% block title %}
    {% trans "Профиль пользователя" %}
{% endblock %}

{% block user_content %}
<div class="container mt-5">
    <h2 class="text-center">{% trans "Профиль пользователя" %}</h2>
    <div class="row">
        <div class="col-md-4">
            {% if user.photo %}
                <img src="{{ user.photo.url }}" alt="{% trans 'Фото профиля' %}" class="img-fluid rounded-circle">
            {% else %}
                <img src="{% static 'accounts/img/default-profile.png' %}" alt="{% trans 'Фото профиля' %}" class="img-fluid rounded-circle">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
            <p><strong>{% trans "Email" %}:</strong> {{ user.email }}</p>
            <p><strong>{% trans "Имя на русском" %}:</strong> {{ user.first_name_ru }}</p>
            <p><strong>{% trans "Фамилия на русском" %}:</strong> {{ user.last_name_ru }}</p>
            <p><strong>{% trans "Отчество на русском" %}:</strong> {{ user.surname_ru }}</p>
            <p><strong>{% trans "Имя на казахском" %}:</strong> {{ user.first_name_kk }}</p>            
            <p><strong>{% trans "Фамилия на казахском" %}:</strong> {{ user.last_name_kk }}</p>            
            <p><strong>{% trans "Отчество на казахском" %}:</strong> {{ user.surname_kk }}</p>
        </div>
    </div>
</div>
{% endblock %}