<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>


<template>
  <section id="main" class="vh-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-10">
          <div class="card mask-custom">
            <div class="card-body p-4 text-white">
              <div class="text-center pt-3 pb-2">
                <img
                  src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-todo-list/check1.png"
                  alt="Check"
                  width="60"
                />
                <h2 class="my-4">Todo Lists</h2>
                <button
                  type="button"
                  class="btn btn-success"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  Add Todo
                </button>
              </div>

              <table class="table text-white mb-0">
                <thead>
                  <tr>
                    <th scope="col">Team Member</th>
                    <th scope="col">Task</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(todo, index) in todos"
                    :key="index"
                    class="fw-normal"
                  >
                    <th>
                      <img
                        :src="todo.image"
                        alt="avatar 1"
                        style="width: 45px; height: auto"
                      />
                      <span class="ms-2">{{ todo.name }}</span>
                    </th>
                    <td class="align-middle">
                      <span :class="todo.completed ? 'completed' : ''">
                        {{ todo.task }}
                      </span>
                    </td>
                    <td class="align-middle">
                      <h6 class="mb-0">
                        <span
                          class="badge"
                          :class="
                            todo.priority == 1
                              ? 'bg-danger'
                              : todo.priority == 2
                              ? 'bg-success'
                              : 'bg-warning'
                          "
                        >
                          {{
                            todo.priority == 1
                              ? "High priority"
                              : todo.priority == 2
                              ? "Middle priority"
                              : "low priority"
                          }}
                        </span>
                      </h6>
                    </td>
                    <td class="align-middle">
                      <a
                        @click="completeTodo(index)"
                        data-mdb-toggle="tooltip"
                        :title="!todo.completed ? 'not completed' : 'Completed'"
                      >
                        <i
                          class="fas fa-check fa-lg me-3"
                          :class="
                            todo.completed ? 'text-success' : 'text-warning'
                          "
                        ></i>
                      </a>
                      <a
                        @click="removeTodo(index)"
                        data-mdb-toggle="tooltip"
                        title="Delete"
                      >
                        <i class="fas fa-trash-alt fa-lg text-warning"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Modals -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" style="border-radius: 10px">
        <div class="modal-content gradient-custom-2">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Todo</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="card card-danger">
              <div class="card-body">
                <p>
                  <label for="name">Name</label>
                  <input
                    type="text"
                    v-model:value="name"
                    class="form-control"
                    id="name"
                  />
                </p>

                <p>
                  <label for="task">Task</label>
                  <input
                    type="text"
                    v-model:value="task"
                    class="form-control"
                    id="task"
                  />
                </p>

                <p>
                  <label>Priority</label>
                  <select v-model="priority" id="priority" class="form-select">
                    <option value="1">High Priority</option>
                    <option value="2">Middle Priority</option>
                    <option value="3">Low Priority</option>
                  </select>
                </p>
                <p>
                  <label>Image</label>
                  <select v-model="image" id="image" class="form-select">
                    <option disabled selected>Please Select Image</option>
                    <option v-for="image in images">{{ image }}</option>
                  </select>
                </p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              @click="addTodo"
              class="btn btn-success"
              data-bs-dismiss="modal"
            >
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

</body>
</html>